@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* @import '../src/Assests/joshua-olsen-lHbTA7pXoaY-unsplash.jpg' */

.border-box {
    border: 1px;
    border-style: solid;
    border-color: orangered;
    margin: 1px;
    padding: 10px;
}

.app {
    margin: 50px;
}

.search {
    padding: 10px;
    font-size: 20px;
}

.list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem {
    margin-bottom: 10px;
    margin-right: 1900px;
    font-size: 25px;
    color: green;
    font-weight: 300;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #cc8500;
  }
  
  .searchButton {
    width: 90px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #3bc33b;
    text-align:justify;
    color: rgb(246, 132, 1);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: fixed;
    top: 30px;
    left: 400px;
    transform: translate(-50%, -50%);
  }
